## 读取数据

In [2]:
import pandas as pd
import numpy as np

In [4]:
dformat = ['user', 'item', 'rating', 'time']
path = "./data/ratings.dat"
rating = pd.read_csv(path, sep="::", header=None, names=dformat)
rating.head()

/Users/jiang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

   user  item  rating       time
0     1  1193       5  978300760
1     1   661       3  978302109
2     1   914       3  978301968
3     1  3408       4  978300275
4     1  2355       5  978824291

In [5]:
rating.shape

(1000209, 4)

In [8]:
rating['rating'].value_counts()

4    348971
3    261197
5    226310
2    107557
1     56174
Name: rating, dtype: int64

In [10]:
num_user = np.max(rating["user"])
num_movie = np.max(rating["item"])

num_user, num_movie

(6040, 3952)

## 切分训练集和测试集

In [13]:
rating.sort_values(by=['time'], inplace=True)  # 按时间排序
boundary = rating['time'].quantile(.9)  # 按时间划分 分界线
train = rating[rating['time'] < boundary]

In [23]:
boundary

978133376.4000001

In [14]:
train.head()

         user  item  rating       time
1000138  6040   858       4  956703932
1000153  6040  2384       4  956703954
999873   6040   593       5  956703954
1000007  6040  1961       4  956703977
1000192  6040  2019       5  956703977

In [15]:
train.sort_values(by=['user', 'time'], axis=0, inplace=True)
train.head()

/Users/jiang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      user  item  rating       time
3216    24  3707       1  978131551
3180    24  1784       3  978131551
3222    24  1968       5  978131551
3262    24  1721       3  978131578
3232    24   364       4  978131578

In [16]:
train.shape

(900188, 4)

In [18]:
test = rating[rating['time'] >= boundary]
test.sort_values(by=['user', 'time'], axis=0, inplace=True)
test.head()

/Users/jiang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    user  item  rating       time
31     1  3186       4  978300019
27     1  1721       4  978300055
22     1  1270       5  978300055
37     1  1022       5  978300055
24     1  2340       3  978300103

In [20]:
test.shape

(100021, 4)

In [21]:
train.shape, test.shape

((900188, 4), (100021, 4))