# 推荐系统介绍

### 内容与代码整理by[@寒小阳](https://blog.csdn.net/han_xiaoyang)

在以下的部分我们将用到[deep autoencoder](https://arxiv.org/abs/1708.01715)去构建一个[Netflix dataset](https://netflixprize.com/)数据集上的推荐系统。

这里用到的工具库是facebook的[PyTorch](http://pytorch.org/)，代码部分来源于NVIDIA的[this repo](https://github.com/NVIDIA/DeepRecommender)。.

## 推荐系统简介

[推荐系统](https://en.wikipedia.org/wiki/Recommender_system)用于在信息过载的互联网时代，帮助更多用户缩短决策路径，找到自己感兴趣的“内容”。

一般情况下，我们有几种构建推荐系统的思路：
* 协同过滤
* 基于内容的推荐
* 混合推荐

协同过滤与基于内容的推荐，我们就不赘述了，大家在基础课程中可以找到相应的讲解，这里主要集中在用深度学习中的autoencoder去构建协同过滤，用到的是NetFlix的数据集。

In [100]:
import sys
import os
import numpy as np
import pandas as pd
import torch
import aiohttp
import asyncio
import json
import requests
from utils import get_gpu_name, get_number_processors, get_gpu_memory, get_cuda_version
from parameters import *
from load_test import run_load_test

print("OS: ", sys.platform)
print("Python: ", sys.version)
print("PyTorch: ", torch.__version__)
print("Numpy: ", np.__version__)
print("Number of CPU processors: ", get_number_processors())
print("GPU: ", get_gpu_name())
print("GPU memory: ", get_gpu_memory())
print("CUDA: ", get_cuda_version())

%matplotlib inline
%load_ext autoreload
%autoreload 2

OS:  linux
Python:  3.5.4 | packaged by conda-forge | (default, Nov  4 2017, 10:11:29)
[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)]
PyTorch:  0.3.0.post4
Numpy:  1.14.0
Number of CPU processors:  24
GPU:  ['Tesla M60', 'Tesla M60', 'Tesla M60', 'Tesla M60']
GPU memory:  ['8123 MiB', '8123 MiB', '8123 MiB', '8123 MiB']
CUDA:  CUDA Version 8.0.61
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## 数据集: Netflix

这个数据集是著名的[Netflix Prize](http://www.netflixprize.com)比赛使用的数据集。包含1.7w+电影上的1亿多的打分，数据集采集于1998年10月到2005年12月之间，每部电影的评分是1-5分

数据集可以在[这里](http://academictorrents.com/details/9b13183dc4d60676b773c9e2cd6de5e5542cee9a). 下载，你可以通过以下命令去解压缩数据:

```bash
tar -xvf nf_prize_dataset.tar.gz
tar -xf download/training_set.tar
```

在我们下载的文件中，有2个非常重要的文件:

1) `training_set.tar`文件是一个包含17770文件的文件夹，一部电影一个文件，第一行是movie_id加一个冒号，后面每一行都是如下形式:

`CustomerID, Rating, Date`
- MovieIDs取值为1到17770
- CustomerIDs取值为1到2649429，但是不连续，有480189名用户
- Ratings取值从1到5
- Dates日期格式为YYYY-MM-DD.

2) 电影的信息文件 [`movie_titles.txt`](data/movie_titles.txt)是如下的格式:

`MovieID, YearOfRelease, Title`

- MovieID是电影ID，但是和Netflix或者IMDB电影id并不是对应的
- YearOfRelease取值从1890到2005
- Title是Netflix电影名字

### 数据准备

第一步是把数据准备成autoencoder能读取的形式，这一步要花费一些实际(1-2个小时)

In [ ]:
%%time
%run ./data_utils/netflix_data_convert.py $NF_PRIZE_DATASET $NF_DATA

这个脚本把数据集切分成训练集、验证集、测试集，构建的文件有3列: `CustomerID,MovieID,Rating`。整个数据集按照时间维度切分为4个文件: Netflix 3months, Netflix 6 months, Netflix 1 year 和 Netflix full。下面是这些数据文件的一些详细信息:

| Dataset  | Netflix 3 months | Netflix 6 months | Netflix 1 year | Netflix full |
| -------- | ---------------- | ---------------- | ----------- |  ------------ |
| Ratings train | 13,675,402 | 29,179,009 | 41,451,832 | 98,074,901 |
| Users train | 311,315 |390,795  | 345,855 | 477,412 |
| Items train | 17,736 |17,757  | 16,907 | 17,768 |
| Time range train | 2005-09-01 to 2005-11-31 | 2005-06-01 to 2005-11-31 | 2004-06-01 to 2005-05-31 | 1999-12-01 to 2005-11-31
|  |  |  |   | |
| Ratings test | 2,082,559 | 2,175,535  | 3,888,684| 2,250,481 |
| Users test | 160,906 | 169,541  | 197,951| 173,482 |
| Items test | 17,261 | 17,290  | 16,506| 17,305 |
| Time range test | 2005-12-01 to 2005-12-31 | 2005-12-01 to 2005-12-31 | 2005-06-01 to 2005-06-31 | 2005-12-01 to 2005-12-31

我们看一眼其中的文件。

In [3]:
nf_3m_valid = os.path.join(NF_DATA, 'N3M_VALID', 'n3m.valid.txt')
df = pd.read_csv(nf_3m_valid, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df.shape)
df.head()

(1041739, 3)

   CustomerID  MovieID  Rating
0           0     1549     1.0
1           0     5144     2.0
2           0     7716     3.0
3           0     8348     3.0
4           0     4635     2.0

In [143]:
nf_3m_test = os.path.join(NF_DATA, 'N3M_TEST', 'n3m.test.txt')
df2 = pd.read_csv(nf_3m_test, names=['CustomerID','MovieID','Rating'], sep='\t')
print(df2.shape)
df2.head()

(1040820, 3)

   CustomerID  MovieID  Rating
0           0      159     4.0
1           0     4830     1.0
2           0     1261     3.0
3           0    12058     3.0
4           0    13412     2.0

## Deep Autoencoder for Collaborative Filtering

数据已经有了，我们来聊聊模型。这里用到的[模型](https://arxiv.org/abs/1708.01715)由NVIDIA的小伙伴提出来，是一个6层的深度autoencoder，这里用的激活函数是SELU (scaled exponential linear units)，同时为了提高泛化能力添加了dropout。

一个autoencoder其实就是一个完成了下面2种变换的神经网络: $encode(x): R^n \Rightarrow R^d$ 和 $decoder(z): R^d \Rightarrow R^n$。autoencoder的最终目标是获得原始数据的一个$d$维表示，同时希望这时候的autoencoder能最小化$x$ 和 $f(x) = decode(encode(x))$之间的差异。下图显示了[论文](https://arxiv.org/abs/1708.01715)里提出的autoencoder结构。Encoder部分有2层$e_1$ 和 $e_2$，decoder 也有2层$d_1$ 和 $d_2$。可以在编码层$z$使用dropout，其实在论文中，实验了不同的层数，从2到12

>![](http://nbviewer.jupyter.org/github/miguelgfierro/sciblog_support/blob/master/Intro_to_Recommendation_Systems/data/AutoEncoder.png)

在forward pass(前向运算)阶段模型通过他在训练集中的打分$x \in R^n$获得用户的表示(向量)，其中$n$是items的个数。需要特别注意的是$x$是非常稀疏的，但是在输出侧$y=f(x) \in R^n$是一个稠密向量，包含了对所有item的打分，这里用到的损失函数是均方误差(RMSE).

核心的思想是希望能通过反向传播训练网络最小化输入和输出的误差，从而完成对未知的电影进行预估。在paper里尝试了不同的[激活函数](https://github.com/pytorch/pytorch/blob/master/torch/nn/functional.py)，发现在这个任务上ELU, SELU 和 LRELU(注意到这些激活函数在负的那一侧都不是0)，比SIGMOID, RELU, RELU6, 和 TANH效果要好。

下面就训练吧，训练的参数可以在[parameters.py](parameters.py)中取到

In [20]:
%run ./DeepRecommender/run.py --gpu_ids $GPUS \
    --path_to_train_data $TRAIN \
    --path_to_eval_data $EVAL \
    --hidden_layers $HIDDEN \
    --non_linearity_type $ACTIVATION \
    --batch_size $BATCH_SIZE \
    --logdir $MODEL_OUTPUT_DIR \
    --drop_prob $DROPOUT \
    --optimizer $OPTIMIZER \
    --lr $LR \
    --weight_decay $WD \
    --aug_step $AUG_STEP \
    --num_epochs $EPOCHS

Namespace(aug_step=1, batch_size=128, constrained=False, drop_prob=0.8, gpu_ids='0', hidden_layers='512,512,1024', logdir='model_save', lr=0.005, noise_prob=0.0, non_linearity_type='selu', num_epochs=10, optimizer='momentum', path_to_eval_data='Netflix/N3M_VALID', path_to_train_data='Netflix/N3M_TRAIN', skip_last_layer_nl=False, weight_decay=0.0)
Loading training data from Netflix/N3M_TRAIN
Data loaded
Total items found: 311315
Vector dim: 17736
Loading eval data from Netflix/N3M_VALID
******************************
******************************
[17736, 512, 512, 1024]
Dropout drop probability: 0.8
Encoder pass:
torch.Size([512, 17736])
torch.Size([512])
torch.Size([512, 512])
torch.Size([512])
torch.Size([1024, 512])
torch.Size([1024])
Decoder pass:
torch.Size([512, 1024])
torch.Size([512])
torch.Size([512, 512])
torch.Size([512])
torch.Size([17736, 512])
torch.Size([17736])
******************************
******************************
Using GPUs: [0]
Doing epoch 0 of 10
Total epoch 0 finished in 69.39120125770569 seconds with TRAINING RMSE loss: 1.1183533288603893
Epoch 0 EVALUATION LOSS: 0.997187149064757
Doing epoch 1 of 10
Total epoch 1 finished in 69.05308318138123 seconds with TRAINING RMSE loss: 0.9789836858425376
Epoch 1 EVALUATION LOSS: 0.9830844731127444
Doing epoch 2 of 10
Total epoch 2 finished in 68.9950942993164 seconds with TRAINING RMSE loss: 0.9593065493420863
Epoch 2 EVALUATION LOSS: 0.98861261075587
Doing epoch 3 of 10
Total epoch 3 finished in 69.13668775558472 seconds with TRAINING RMSE loss: 0.9464339257342224
Epoch 3 EVALUATION LOSS: 0.9762008394628371
Doing epoch 4 of 10
Total epoch 4 finished in 69.09636783599854 seconds with TRAINING RMSE loss: 0.9355610656442712
Epoch 4 EVALUATION LOSS: 0.9808872814542353
Doing epoch 5 of 10
Total epoch 5 finished in 69.17095017433167 seconds with TRAINING RMSE loss: 0.9258845933913559
Epoch 5 EVALUATION LOSS: 0.9842890565637975
Doing epoch 6 of 10
Total epoch 6 finished in 69.08278322219849 seconds with TRAINING RMSE loss: 0.9622985019130311
Epoch 6 EVALUATION LOSS: 0.9838701840431763
Doing epoch 7 of 10
Total epoch 7 finished in 69.04743361473083 seconds with TRAINING RMSE loss: 0.9337027765558531
Epoch 7 EVALUATION LOSS: 0.984365107262594
Doing epoch 8 of 10
Total epoch 8 finished in 69.1117844581604 seconds with TRAINING RMSE loss: 0.9205498934527924
Epoch 8 EVALUATION LOSS: 0.9750949946703523
Doing epoch 9 of 10
Total epoch 9 finished in 69.13744783401489 seconds with TRAINING RMSE loss: 0.9099730840527471
Epoch 9 EVALUATION LOSS: 0.9742177051690417
Saving model to model_save/model.epoch_9
Routine finished. Process time 2747.513389825821 s

## 评估
接下来我们要在测试集上进行评估

In [30]:
%run ./DeepRecommender/infer.py \
--path_to_train_data $TRAIN \
--path_to_eval_data $TEST \
--hidden_layers $HIDDEN \
--non_linearity_type $ACTIVATION \
--save_path  $MODEL_PATH \
--drop_prob $DROPOUT \
--predictions_path $INFER_OUTPUT

Namespace(constrained=False, drop_prob=0.8, hidden_layers='512,512,1024', non_linearity_type='selu', path_to_eval_data='Netflix/N3M_TEST', path_to_train_data='Netflix/N3M_TRAIN', predictions_path='preds.txt', save_path='model_save/model.epoch_9', skip_last_layer_nl=False)
Loading training data
Data loaded
Total items found: 311315
Vector dim: 17736
Loading eval data
******************************
******************************
[17736, 512, 512, 1024]
Dropout drop probability: 0.8
Encoder pass:
torch.Size([512, 17736])
torch.Size([512])
torch.Size([512, 512])
torch.Size([512])
torch.Size([1024, 512])
torch.Size([1024])
Decoder pass:
torch.Size([512, 1024])
torch.Size([512])
torch.Size([512, 512])
torch.Size([512])
torch.Size([17736, 512])
torch.Size([17736])
******************************
******************************
Loading model from: model_save/model.epoch_9
Done: 0
Done: 10000
Done: 20000
Done: 30000
Done: 40000
Done: 50000
Done: 60000
Done: 70000
Done: 80000
Done: 90000
Done: 100000
Done: 110000
Done: 120000
Routine finished. Process time 228.1412889957428 s

In [31]:
%run ./DeepRecommender/compute_RMSE.py --path_to_predictions=$INFER_OUTPUT

Namespace(path_to_predictions='preds.txt', round=False)
####################
RMSE: 0.9746437597050387
####################

## API

接下来我们来构建一个推荐系统的API，第一步是把用户信息取过来转成一个json的请求。

In [157]:
titles = pd.read_csv(MOVIE_TITLES, names=['MovieID','Year','Title'], encoding = "latin")
titles.head()

   MovieID    Year                         Title
0        1  2003.0               Dinosaur Planet
1        2  2004.0    Isle of Man TT 2004 Review
2        3  1997.0                     Character
3        4  1994.0  Paula Abdul's Get Up & Dance
4        5  2004.0      The Rise and Fall of ECW

In [167]:
target = df2[df2['CustomerID'] == 0]
target

   CustomerID  MovieID  Rating
0           0      159     4.0
1           0     4830     1.0
2           0     1261     3.0
3           0    12058     3.0
4           0    13412     2.0
5           0    15887     3.0
6           0    16111     3.0
7           0    16445     2.0

In [186]:
df_customer = pd.merge(target, titles, on='MovieID', how='left', suffixes=('_',''))
df_customer.drop(['Title_','Year'], axis=1, inplace=True)
df_customer

   CustomerID  MovieID  Rating                                     Title
0           0      159     4.0                      Gentlemen of Fortune
1           0     4830     1.0                Poirot: Peril at End House
2           0     1261     3.0                Mojados: Through the Night
3           0    12058     3.0        Being Mick: You Would If You Could
4           0    13412     2.0                              Billy Elliot
5           0    15887     3.0                               Van Helsing
6           0    16111     3.0  The First World War: The Complete Series
7           0    16445     2.0                                House of 1

用户的json信息如下，比如这里是对于`CustomerID`为0的用户，有包含`MovieID`和打分的字典。

In [189]:
df_query = df_customer.drop(['CustomerID','Title'], axis=1).set_index('MovieID')
dict_query = df_query.to_dict()['Rating']
dict_query

{159: 4.0,
 1261: 3.0,
 4830: 1.0,
 12058: 3.0,
 13412: 2.0,
 15887: 3.0,
 16111: 3.0,
 16445: 2.0}

API定义在[api.py](api.py)文件中，当服务启动的时候，会加载训练好的模型到内存中。main函数 `/recommend`以json形式接收`dict_query`，通过autoencoder完成计算，返回另外一个json(预测打分)

可以在命令行通过下面的方式去启动服务:
```bash
python api.py
```

In [48]:
end_point = 'http://127.0.0.1:5000/'
end_point_recommend = "http://127.0.0.1:5000/recommend"

In [192]:
!curl $end_point

Yeah, yeah, I highly recommend it

我们通过`dict_query`来向推荐系统发起请求

In [201]:
headers = {'Content-type':'application/json'}
res = requests.post(end_point_recommend, data=json.dumps(dict_query), headers=headers)
print(res.ok)
print(json.dumps(res.json(), indent=2))

True
{
  "16445": "1.830115",
  "1261": "3.0182471",
  "4830": "2.5257375",
  "13412": "3.113011",
  "15887": "1.8397967",
  "16111": "2.7220972",
  "12058": "0.794388",
  "159": "3.4304914"
}

## 压测
如果我们想看一看我们推荐系统的稳定性，可以做一个压测，频繁发起一些请求。大家可以在[load_test.py](load_test.py)中找到压测的代码，我们可以通过调整`NUM`和`CONCURRENT`来控制轮次和并发数。这里测试的服务器`NUM`设定为10，并发为2，最后测试结果大概是4ms左右的响应时间，实际上并发为2的相应速度基本都差不多，如果把并发数提到20的话，响应时间就会上升为12ms

在实际应用中，请求并不从同一台电脑发出，所以大家还得加上客户端和服务器之间的通信延迟等等。

In [140]:
NUM = 10
CONCURRENT = 2
VERBOSE = True
payload = {13:5.0, 191:5.0, 209:5.0}
payload_list = [payload]*NUM

In [141]:
%%time
# Run:
with aiohttp.ClientSession() as session:  # We create a persistent connection
    loop = asyncio.get_event_loop()
    calc_routes = loop.run_until_complete(run_load_test(end_point_recommend, payload_list, session, CONCURRENT, VERBOSE))

Creating a client session outside of coroutine
client_session: <aiohttp.client.ClientSession object at 0x7f3faeba0278>

Response status: 200
{'191': '4.1924996', '13': '3.1280162', '209': '3.3941908'}
Response status: 200
{'191': '4.1924996', '13': '3.1280162', '209': '3.3941908'}
Response status: 200
{'191': '4.1924996', '13': '3.1280162', '209': '3.3941908'}
Response status: 200
{'191': '4.1924996', '13': '3.1280162', '209': '3.3941908'}
Response status: 200
{'191': '4.1924996', '13': '3.1280162', '209': '3.3941908'}
Response status: 200
{'191': '4.1924996', '13': '3.1280162', '209': '3.3941908'}
Response status: 200
{'191': '4.1924996', '13': '3.1280162', '209': '3.3941908'}
Response status: 200
{'191': '4.1924996', '13': '3.1280162', '209': '3.3941908'}
Response status: 200
{'191': '4.1924996', '13': '3.1280162', '209': '3.3941908'}
Response status: 200
{'191': '4.1924996', '13': '3.1280162', '209': '3.3941908'}
CPU times: user 20 ms, sys: 4 ms, total: 24 ms
Wall time: 35.5 ms